body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#board {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 350px;
}

.row {
    display: flex;
}

.input_one{
    width: 43px;
    height: 35px;
    border: none;
    border-width: 0;
    padding: 0.5px;
    padding-top: 5px;
    background: transparent;
    outline: none;
    font-size: 24px;
    text-align: center;
    
}
input:focus{
    border: none;
    outline: none;
}


.cell {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 2px solid #ccc;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

.cell-delete{
   width: 105px;
}

.cell-enter{
    width: 105px;
}

.cell_button{
    width: fit-content;
    height: fit-content;
    margin: 5px;
    border: 2px solid #ccc;
    .cell{
        margin: 0;
        border: 0; 
    }
}

.correct {
    background-color: #6aaa64;
    color: white;
}

.present { 
    background-color: #c9b458; 
    color: white; 
}

.absent { 
    background-color: #787c7e; 
    color: white; 
}

#keyboard {
    
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    .row{
        display: block;
    }
}

.key {
    width: 30px;
    height: 40px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.key.correct {
    background-color: #6aaa64;
    color: white;
}

.key.present {
    background-color: #c9b458;
    color: white;
}

.key.absent {
    background-color: #787c7e;
    color: white;
}